{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}
  {% if sitev.pk %}
    Editar Tarefa

  {% else %}
    Nova Tarefa
  {% endif %} 
{% endblock page_title %}
{% block content %}
  {% if sitev.pk %}
 <h1>Editar Tarefa</h1> 

  {% else %}
   <h1>Nova Tarefa</h1>
  {% endif %}
   
          
    <form method="POST">
      {% csrf_token %}

      {{ form|crispy }}

      <button type= "submit" class= "btn btn-warning">Salvar</button>
      <a href="{% url "sitev_list" %}">
      <button type="button" class= "btn btn-warning">Minhas Tarefas</button>
  </a>
  </form>

{% endblock content %}
  
  
      